@tailwind base;

@layer base {
  :root {
    --color-bg-main: "hsl(222, 26%, 31%)";
    --color-bg-toggle: "hsl(223, 31%, 20%)";
    --color-bg-keypad: "hsl(223, 31%, 20%)";
    --color-bg-screen: "hsl(224, 36%, 15%)";

    --color-keys-background: "hsl(225, 21%, 49%)";
    --color-keys-shadow: "hsl(224, 28%, 35%)";

    --color-text-one: "hsl(221, 14%, 31%)";
    --color-text-two: "hsl(0, 0%, 100%)";
  }

  .theme-two {
    --color-bg-main: "hsl(0, 0%, 90%)";
    --color-bg-toggle: "hsl(0, 5%, 81%)";
    --color-bg-keypad: "hsl(0, 5%, 81%)";
    --color-bg-screen: "hsl(0, 0%, 93%)";

    --color-keys-background: "hsl(185, 42%, 37%)";
    --color-keys-shadow: "hsl(185, 58%, 25%)";

    --color-text-one: "hsl(60, 10%, 19%)";
    --color-text-two: "hsl(0, 0%, 100%)";
  }

  .theme-three {
    --color-bg-main: "hsl(268, 75%, 9%)";
    --color-bg-toggle: "hsl(268, 71%, 12%)";
    --color-bg-keypad: "hsl(268, 71%, 12%)";
    --color-bg-screen: "hsl(268, 71%, 12%)";

    --color-keys-background: "hsl(281, 89%, 26%)";
    --color-keys-shadow: "hsl(285, 91%, 52%)";

    --color-text-one: "hsl(52, 100%, 62%)";
    --color-text-two: "hsl(0, 0%, 100%)";
  }
}

@tailwind components;
@tailwind utilities;
